#header{
    background-color: black;
    height: 100px;
    margin-top: 10px;
}

body{
    background-color: black;
    background-image: url(city5.jpg);
    opacity: 0.7;
}

h1{
    font-size: 200%;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar{
    background-color: black;
    margin-top: 10px;
    height: 24px;
}

#navbar ul{
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

#navbar ul li{
    display: inline;
}

#navbar ul li a{
    text-align: center;
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left:80px;
    padding-right:80px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#navbar ul li a:hover{
    color: white;
    background-color: black;
}

#leftside{
    background-color: yellowgreen;
    width: 50%;
    float: left;
    text-align: center;
    height: 300px;
    border-radius: 10px;
    padding-top: 100px;
}

#rightside{
    background-color: yellow;    
    width: 50%;
    float: right;
    text-align: center;
    height: 300px;
    border-radius: 10px;
    padding-top: 100px;
}

#input{
    width: 300px;
    height: 21px;
    padding:10px;
    font-size: 20px;
}

#button1{
    background-color: indigo; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   transition-duration: 0.4s;
}

#button1:hover{
    border:2px solid #4CAF50; 
    background-color: white;
    color: #4CAF50;
}

#button2{
    background-color: maroon; /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  transition-duration: 0.4s;
}

#button2:hover{
    border:2px solid maroon; 
    background-color: white;
    color: maroon;
}



