<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylesheet_rec.css') }}">
        <title>voice.com/rec</title>
    </head>
    
    <body>
        <div id="header"><h1>Image Recognition</h1></div>
        <div id="navbar">
            <ul>
                <li><a href="index.html">Back to HOME page</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="yolo.html">The Approach : YOLO</a></li>
            </ul>
        </div>
        <div id="leftside">
           <h2>Real time</h2>
           <button id="button1">Click me!!</button>
        </div>
        <div id="rightside">
            <h2>Non-Real time</h2>
            Enter the Image file with .jpeg extension<br>
            
            <button onclick="document.getElementById('file-input').click();">Open</button>
            <input id="file-input" type="file" name="name" style="display: none;" />
            <form>
                <label for="input">.jpeg file : </label>
                <input type="text" id="input" name="" placeholder="example.jpeg">
                <button id="button2">Submit</button>
            </form>
        </div>
    </body>
</html>
